<footer class="footer">
    <div class="container">

      <!-- <center><span class="text-muted" >Copyright @ {%now 'Y'%}</span></center> -->
      <!-- <a href="{% url 'ml_app:home'%}">Home</a>
      <a href="{% url 'ml_app:about'%}">About</a>
      <a href="#">Github Link</a> -->
      <!-- <div style="width: 1184px; height: 43px; color: #51829B; font-size: 16px; font-family: Marko One; font-weight: 400; word-wrap: break-word">Purnima Darsi - Govardhan Gunji - Jaswanth Kotturi - Sandeep Bhaskaruni - Harshini Kalangi - Vyshnavi Koritala<br/></div> -->
      <center><spam class="quo" style="width: 460px; height: 26px; color: #647E68; font-size: 20px; font-family: Allerta Stencil; font-weight: 400; word-wrap: break-word">Seek fact, not fiction: Unmask fake videos<br/></spam></center>
      <br>

      <center><spam class="names" style="width: 1184px; height: 43px; color: #51829B; font-size: 16px; font-family: Marko One; font-weight: 400; word-wrap: break-word">Purnima Darsi - Govardhan Gunji - Jaswanth Kotturi - Sandeep Bhaskaruni - Harshini Kalangi - Vyshnavi Koritala<br/></spam></center>

      <!-- <center><spam class="footer"><img src="static/images/footer.png" alt="footer" width="1000" height="16"></spam></center> -->
      
      
    </div>
  </footer>